In [1]:
import pandas as pd

In [4]:
sal = pd.read_csv('Salaries.csv')

In [5]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [8]:
sal['BasePay'].mean()

66325.44884050643

In [9]:
sal['OvertimePay'].max()

245131.88

In [13]:
sal.loc('JOSEPH DRISCOLL')

In [25]:
sal['EmployeeName'].

'NATHANIEL FORD'

In [30]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [32]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [48]:
sal[sal['TotalPayBenefits']==(sal['TotalPayBenefits'].min())]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [53]:
sal[sal['Year']>2013]['BasePay'].mean()

66564.42192449933

In [59]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [75]:
sal['JobTitle'].nunique()

2159

In [89]:
sal['JobTitle'].value_counts()

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
SENIOR PSYCHIATRIC ORDERLY                               1
DIRECTOR, JUVENILE HALL                                  1
SECRETARY,JUVENILE PROBATION COMMISSION                  1
SENIOR MATERIALS AND SUPPLIES SUPERVISOR                 1
TRANSIT POWER LINE WORKER SUPERVISOR II                  1
ORTHOPEDIC TECHNICIAN I                                  1
SPECIAL ASSISTANT XVIII                                  1
ENVIRONMENT HEALTH TECHNICIAN II                         1
MATERIALS AND SUPPLIES SUPERVISOR                        1
ZOO CURATOR                                              1
CITY ATTORNEY                                            1
Sr Sprv Prob Ofc, Juv Prob                               1
CONSERVATORSHIP/CASE MGNT SUPV                           1
BARBER                                                   1
GLAZIER SUPERVISOR I                                     1
LEGISLATIVE ASSISTANT, CITY ATTORNEY'S OFFICE            1
TRAF SIGNAL ELECTRICIAN SUP I                            1
Light Rail Vehicle Equip Eng                             1
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR                1
AUDIOLOGIST                                              1
CITY PLANNING GRAPHICS SUPERVISOR                        1
FEASIBILITY ANALYST, PORT                                1
Forensic Toxicologist Supervis                           1
VICTIM & WITNESS TECHNICIAN                              1
Mobile Equipment Supervisor                              1
LIEUTENANT II (POLICE DEPARTMENT)                        1
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI       1
Special Assistant 8                                      1
CONFIDENTIAL SECRETARY CITY ATTORNEY                     1
TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY       1
Name: JobTitle, Length: 2159, dtype: int64

In [104]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [113]:
sal['JobTitle'].loc('CHIEF')

In [125]:
def find_Chief(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [126]:
sum(sal['JobTitle'].apply(lambda x: find_Chief(x)))

627

In [128]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [129]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [130]:
import pandas as pd

In [133]:
ecom = pd.read_csv('Ecommerce Purchases')

In [134]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [136]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [140]:
ecom['Purchase Price'].min()

0.0

In [144]:
ecom[ecom['Language']=='en'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 11 to 9979
Data columns (total 14 columns):
Address             1098 non-null object
Lot                 1098 non-null object
AM or PM            1098 non-null object
Browser Info        1098 non-null object
Company             1098 non-null object
Credit Card         1098 non-null int64
CC Exp Date         1098 non-null object
CC Security Code    1098 non-null int64
CC Provider         1098 non-null object
Email               1098 non-null object
Job                 1098 non-null object
IP Address          1098 non-null object
Language            1098 non-null object
Purchase Price      1098 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 128.7+ KB

In [146]:
ecom[ecom['Job']=='Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
Address             30 non-null object
Lot                 30 non-null object
AM or PM            30 non-null object
Browser Info        30 non-null object
Company             30 non-null object
Credit Card         30 non-null int64
CC Exp Date         30 non-null object
CC Security Code    30 non-null int64
CC Provider         30 non-null object
Email               30 non-null object
Job                 30 non-null object
IP Address          30 non-null object
Language            30 non-null object
Purchase Price      30 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [155]:
ecom['AM or PM'].value_counts('AM')

PM    0.5068
AM    0.4932
Name: AM or PM, dtype: float64

In [170]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

In [173]:
ecom[ecom['Lot']=="90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [174]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [181]:
ecom[ecom['CC Provider'] == "American Express"][ecom['Purchase Price']>95].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 9 to 9856
Data columns (total 14 columns):
Address             39 non-null object
Lot                 39 non-null object
AM or PM            39 non-null object
Browser Info        39 non-null object
Company             39 non-null object
Credit Card         39 non-null int64
CC Exp Date         39 non-null object
CC Security Code    39 non-null int64
CC Provider         39 non-null object
Email               39 non-null object
Job                 39 non-null object
IP Address          39 non-null object
Language            39 non-null object
Purchase Price      39 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 4.6+ KB

C:\Users\Sahil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [184]:
def expiry(date):
    if '25' in date:
        return True
    else:
        return False

In [185]:
sum(ecom['CC Exp Date'].apply(lambda x: expiry(x)))

1033

In [186]:
def provider(email):
    sep = '@'
    rest = email.split(sep,1)[1]
    return rest

In [187]:
split = 'sahil@gmail.com'

In [188]:
provider(split)

'gmail.com'

In [192]:
ecom['Domain'] = ecom['Email'].apply(provider)

In [193]:
ecom.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Domain
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,yahoo.com
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,reed.com
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,morales-harrison.com
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,olson-robinson.info
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,gmail.com

In [196]:
ecom['Domain'].value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Domain, dtype: int64